:root {
  --black: #0d0d0d;
  --pure-white: #fff;
  --off-white: #f2f2f2;
  --blue: #7abfbf;
  --light-blue: rgba(122, 191, 191, 0.5);
  --orange: #eb5428;
  --Bebas: "Bebas Neue", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
	grid-template-rows: minmax(0, min-content) minmax(0, 1fr) minmax(0,min-content);
	font-family: var(--Bebas);
	max-width: 414px;
	margin: 0 auto;
  background-color: var(--light-blue);
}
main {
  background-color: var(--off-white);
}

h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

nav a,
nav span,
menu li,
footer,
#social li {
  font-size: 20px;
}

p,
dd,
li,
nav,
input {
  font-family: var(--Montserrat);
  font-size: 16px;
}

dt {
  font-family: var(--Montserrat);
  font-weight: 700;
}

.visibly-hidden {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0;
  height: 75px;
  align-items: center;
}

.menu-item a {
  font-family: var(--Bebas);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--orange);
  font-weight: bold;
  text-decoration: none;
}

.menu-item a:hover {
  border-bottom: 3px solid var(--orange);
}

.recipeImg {
  width: 100%;
	height: 100%;
}

.section-header {
  text-align: center;
}

#recipe-section {
  display: grid;
  grid-template-columns: 1fr;
}

.recipe-intro p {
  padding: 0 0.5em;
}

.details-list {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 12px 0;
  padding: 0 0.5em;
}

.ingredients-list {
  list-style-type: square;
}

#ingredients li {
  padding: 0.5em;
}

#directions li {
  padding: 0.5em;
}

#side-dishes-section {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "header"
    "rice"
    "salsa"
    "guac"
    "tortilla";
}

#mexican-rice {
  grid-area: rice;
}

#salsa {
  grid-area: salsa;
}

#guac {
  grid-area: guac;
}

#tortilla {
  grid-area: tortilla;
}

#side-dishes-section .section-header {
  grid-area: header;
}

.side-dish {
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content auto auto min-content;
  grid-template-areas:
    "img title"
    "img info"
    "img rating"
    "img stars";
}

.side-dish h3 {
  grid-area: title;
  margin: 0;
}

.side-dish img {
  grid-area: img;
  width: 100px;
  padding: 10px;
}

.side-dish-info {
  margin: 0;
  grid-area: info;
}

.rating {
  margin: 0;
  grid-area: rating;
  font-weight: bold;
}

.star-ratings {
  grid-area: stars;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.star-filled {
  fill: var(--orange);
}

/* Navigation */
nav {
  background-color: var(--pure-white);
  box-shadow: 0px 4px 6px -3px var(--black);
}

.navigation-list {
  text-transform: uppercase;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  padding-left: 0;
  background-color: var(--off-white);
}

.nav-item {
  width: 100%;
}

.nav-item a {
  font-family: var(--Bebas);
  color: var(--orange);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  gap: 10px;
}

.nav-item a:hover {
  background-color: var(--orange);
  color: var(--off-white);
}

.home-btn a {
  background-color: var(--orange);
  line-height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 50%;
  font-size: 1em;
}

.home-btn a:hover {
  background-color: var(--blue);
  border: none;
}

.home-btn svg {
  margin: 0 auto;
}

.home-btn span {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.user-icon a {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  white-space: nowrap;
  width: 100px;
  height: 100px;
  justify-content: center;
}

.user-icon a:hover {
  background-color: var(--off-white);
  color: var(--blue);
}

.user-icon svg {
  stroke: var(--orange);
  width: 50px;
  height: 50px;
}

.navigation-list svg,
.navigation-list img {
  width: 50px;
}

nav label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

nav input {
  display: none;
}

nav label span {
  color: var(--black);
}

nav input:checked ~ ul {
  max-height: 500px;
  box-shadow: 0px -4px 6px -3px var(--black);
}

header {
  background-color: var(--off-white);
  display: grid;
  grid-template-rows: min-content min-content;
  grid-row: 1/2;
  width: 100%;
  max-width: 414px;
}

/* Search Bar */
#search-bar {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
  height: 3em;
  background-color: var(--off-white);
}

#search-bar input {
  outline: 3px solid var(--orange);
  border: none;
}

.search-btn {
  outline: 3px solid var(--orange);
  border: 1px solid var(--orange);
  background-color: var(--orange);
}

#search-bar svg {
  stroke: var(--off-white);
}

footer {
  background-color: var(--pure-white);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
}

#social ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
}

#social li {
  list-style-type: none;
  white-space: nowrap;
}

#social li a {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  color: var(--orange);
  justify-items: center;
  font-family: var(--Bebas);
  gap: 10px;
}

#social li a:hover {
  margin: -1px;
  border-bottom: 3px solid var(--orange);
}

footer img {
  width: 50%;
}

#author-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.copyright p {
  font-size: 20px;
  line-height: 3px;
  font-family: var(--Bebas);
  font-weight: bold;
}

@media screen and (min-width: 414px) {
  body {
    max-width: 768px;
  }

  h1 {
    text-align: left;
  }

  menu {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3;
    position: relative;
  }

  .menu-item a:hover {
    background-color: unset;
    border-bottom: 3px solid var(--orange);
    border-radius: 0;
    margin: -1px;
  }

  .recipeImg {
    position: relative;
    margin-top: -91px;
  }

  #recipe-section {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas:
      "header header"
      "article article"
      "article article";
  }

  #details {
    grid-column: 1/-1;
    margin: 0 auto;
  }

  #side-dishes-section {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "header header"
      "rice salsa"
      "guac tortilla";
  }

  header {
    background-color: var(--pure-white);
    display: grid;
    max-width: 768px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  }

  nav {
    height: 100px;
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .nav-item a {
    flex-direction: column;
    padding: 5px;
  }

  .nav-item a:hover {
    background-color: var(--off-white);
    color: var(--orange);
    border-bottom: 4px solid var(--orange);
  }

  .home-btn {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .home-btn a {
    transform: none;
    width: 100px;
    left: 0;
    height: 5em;
  }

  .home-btn a:hover {
    background-color: var(--light-blue);
    border: none;
  }

  .user-icon a {
    justify-content: flex-start;
  }

  .user-icon a:hover {
    color: unset;
  }

  #search-bar {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 3.5em;
  }
  .navigation-list {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    max-width: 768px;
  }

  .nav-item:nth-of-type(2) {
    grid-column: 1/2;
  }

  nav label,
  nav input {
    display: none;
  }

  #search-bar {
    background-color: var(--pure-white);
    justify-content: flex-end;
  }

  footer {
    padding: 1.5em;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  #social {
    grid-column: 2/3;
  }

  #author-info {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1250px;
  }
	
	h1 {
		text-align: center;
	}

	.recipe-intro {
		display: grid;
    grid-template-columns: auto 1fr minmax(min-content, 1fr);
		grid-template-rows: minmax(0, min-content) minmax(0, 1fr);
		grid-template-areas: 
			"menu image text"
			"menu image text";
	}

	menu {
    border: 3px solid var(--orange);
		height: 100%;
		grid-area: menu;
		grid-template-rows: repeat(4, 110px);
		grid-template-columns: 1fr;
    margin: 0;
    padding: 10px;
    align-items: start;
	}

  .menu-item a {
    width: 110px;
  }

	.recipeImg {
		grid-area: image;
		margin: 0;
	}

  #details {
    width: 100%;
    background-color: var(--black);
    color: var(--blue);
  }

  #details dl {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    justify-items: center;
  }

  #details dd {
    margin: 0;
    grid-row: 2/3;
  }

  #side-dishes-section {
    padding: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: 
      "header header header header"
      "rice salsa guac tortilla";
  }

  .side-dish {
    gap: 1em 0.5em;
    grid-template-areas: 
      "img img"
      "title title"
      "info info"
      "rating stars";
    grid-template-columns: minmax(0, min-content) minmax(0, 1fr);
    grid-template-rows: min-content min-content auto min-content;
  }

  #side-dishes-section h3, 
  .side-dish-info {
    grid-column: 1/-1;
  }

  .side-dish img {
    grid-column: 1/-1;
    width: 100%;
  }

  .star-ratings {
    white-space: nowrap;
  }

	header {
		align-items: center;
		max-width: 1250px;
		grid-template-columns: minmax(0, 1fr);
		box-shadow: none;
	}

  nav {
		grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 3;
  }

  .navigation-list {
		background-color: var(--pure-white);
		max-height: 100px;
		max-width: 100%;
    display: flex;
    flex-direction: row;
		align-items: center;
  }
  .nav-item {
    width: 100px;
  }
  .home-btn, 
  .user-icon {
    flex-grow: 2;
  }
  .home-btn a {
    position: static;
    height: 6.3em;
    justify-content: center;
	}

  .home-btn a:hover {
    background-color: var(--blue);
    box-shadow: none;
    border: none;
    margin: 0;
  }
	
	.user-icon a {
    position: static;
		height: unset;
    margin-left: auto;
  }

  #search-bar {
		grid-column: 1/-1;
    grid-row: 2/3;
		background-color: var(--off-white);
		height: 100%;
		align-items: center;
		padding: 10px;
  }

	.search-btn {
		margin-right: calc(50% - 100px);
	}

	#search-bar input,
	.search-btn {
		height: 50%;
	}

  footer {
    justify-items: stretch;
  }

  #author-info {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
