:root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --blue: #7ABFBF;
    --light-blue: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --Bebas: "Bebas Neue", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    background-color: var(--light-blue);
}

body {
    font-family: var(--Bebas);
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
    background-color: var(--white);
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, footer, #social li {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: var(--Montserrat);
    font-size: 16px;
    font-weight: 400;
}

dt {
    font-family: var(--Montserrat);
    font-weight: 700;
}

main {
    position: relative;
    transform: translate(0, 170px);
}

menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    height: 75px;
    align-items: center;
    margin: 0 0 0 -12px;
}

menu li a {
    font-family: var(--Bebas);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orange);
    font-weight: bold;
    text-transform: uppercase;
}

menu li a {
    text-decoration: none;
}

.recipeImg {
    width: 100%;
}

 article section h2 {
    text-align: center;
}

article p {
    padding: 0 0.5em;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 12px 0;
    padding: 0 0.5em;
}

.ingredients ul {
    list-style-type: square;
}

.ingredients li {
    padding: 0.5em;
}

.directions li {
    padding: 0.5em;
}

aside {
    background-color: var(--blue);
}

.side-dishes h2 {
    text-align: center;
}

.side-dishes article {
    gap: 0 10px;
    padding: 0.5em 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content min-content min-content;
    grid-template-areas: 
        "img title"
        "img info"
        "img rating"
        "img stars";
}

.side-dishes h3 {
    margin: 0;
}

.side-dishes article img {
    grid-area: img;
    width: 100px;
    padding: 10px;
}

.side-dishes article svg {
    margin: 0 3px;
    grid-area: stars;
}

.side-dishes article p {
    margin: 0;
}

.rating {
    font-weight: bold;
}

.star-filled {
    fill: var(--orange);
}


/* Navigation */
nav {
    box-shadow: 0px 4px 6px -3px var(--black);
}

nav h2 {
    display: none;
}

nav ul {
    text-transform: uppercase;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding-left: 0;
    background-color: var(--white);
}

nav ul li {
    width: 100%;
}

nav ul li a {
    color: var(--orange);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

nav ul li a:hover {
    background-color: var(--orange);
    color: var(--white);
}

nav ul li:first-of-type a {
    background-color: var(--orange);
    line-height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100px;
    width: 50%;
    font-size: 1em;
}

nav ul li:first-of-type svg {
    margin: 0 auto;
}

nav ul li:first-of-type span {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

nav ul li:last-of-type a {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    white-space: nowrap;
    font-size: 1em;
    width: 100px;
    height: 100px;
    justify-content: center;
}

nav ul li:last-of-type a:hover {
    background-color: var(--white);
}

nav ul li:last-of-type svg {
    stroke: var(--orange);
    width: 50px;
    height: 50px;
}

nav ul svg, nav ul img {
    width: 50px;
}

nav label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

nav input {
    display: none;
}

nav label span {
    color: var(--black);
}

nav input:checked ~ ul {
    max-height: 500px;
    box-shadow: 0px -4px 6px -3px var(--black);
}

header {
    background-color: var(--white);
    display: grid;
    grid-template-rows: min-content min-content;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 414px;
}

/* Search Bar */
.search {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
    height: 3em;
    background-color: var(--white);
}

.search input {
    outline: 3px solid var(--orange);
    border: none;
}

.search h3 {
    display: none;
}

.search button {
    outline: 3px solid var(--orange);
    border: 1px solid var(--orange);
    background-color: var(--orange);
}

.search svg {
    stroke: var(--white);
}




/* @media screen and (min-width:414px) {
    nav ul {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        max-width: 768px;
    }
    nav label, nav input {
        display: none;
    }
}

@media screen and (min-width:768px) {
    body {
        max-width: 1250px;
    }
) */

